html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

/* Fonts */
@font-face {
  font-family: "Noto Sans regular";
  src: local("Noto Sans regular"),
    url("./assets/fonts/NotoSansDisplay-Regular.woff2") format("woff2");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Noto Sans semi-bold";
  src: local("Noto Sans semi-bold"),
    url("./assets/fonts/NotoSansDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans medium";
  src: local("Noto Sans medium"),
    url("./assets/fonts/NotoSansDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans light";
  src: local("Noto Sans light"),
    url("./assets/fonts/NotoSansDisplay-Light.woff2") format("woff2");
}
